<!DOCTYPE html>
<html>
<head>
  <title>Pokeneas</title>
  <style>
    body { font-family: sans-serif; text-align: center; margin-top: 50px; }
    button {
      margin: 10px; padding: 10px 20px;
      font-size: 16px; border: none;
      border-radius: 8px; background-color: #4CAF50;
      color: white; cursor: pointer;
    }
    button:hover { background-color: #45a049; }
  </style>
</head>
<body>
  <h1>¡Bienvenido al mundo de los Pokeneas!</h1>
  <a href="/pokenea"><button>Ver JSON Aleatorio</button></a>
  <a href="/pokenea/image"><button>Ver Pokenea en HTML</button></a>
</body>
</html>
