<!DOCTYPE html>
<html>

<head>
  <title>Pokeneas</title>
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <h1>¡Bienvenido al mundo de los Pokeneas!</h1>
  <a href="/pokenea"><button>Ver JSON Aleatorio</button></a>
  <a href="/pokenea/image"><button>Ver Pokenea en HTML</button></a>
</body>

</html>